.container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(167, 162, 162);
  height: 100vh;
}

.box {
  width: 100px;
  height: 100px;
  background-color: green;
}

.box1 {
  background-color: greenyellow;
}

.box2 {
  background-color: blue;
}
.box3 {
  background-color: indigo;
}
.box4 {
  background-color: yellow;
}
