nav.menu {
  display: inline-block;
}
nav.menu ul {
  list-style: none;
  margin: 0;
  padding: 10px 30px;
  background-color: rgb(99, 199, 165);
  display: inline-block;
  display: none;
}

.btn-menu {
  background-color: rgb(32, 143, 110);
  border: none;
  padding: 10px;
  color: white;
  display: block;
}

nav.menu:hover ul {
  display: inline-block;
}
