:root {
  --ilk: #5cb85c;
  --iki: #0275d8;
}

* {
  font-family: "Roboto", sans-serif;
}

ul.menu {
  margin-left: 0;
  margin-right: auto;
  list-style-type: "✅";
  padding-left: 25px;
}
nav.menu {
  background-color: lightgray;
  width: 10vw;
  margin-left: 0;
}

a.link:hover {
  background-color: var(--ilk);
  color: var(--iki);
}

a.link {
  text-decoration: none;
  color: black;
}
a.link:visited {
  color: black;
}
li.item {
  padding: 5px;
  margin-left: 0;
}
