html {
  height: 100%;
}
body {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  background-color: red;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 7px;
  transform: scale(2);
  transition: all 1s;
  cursor: pointer;
}

.btn:hover {
  background-color: green;
  color: black;
  transform: scale(3);
}
