.kutu1 {
  height: 200px;
  background-color: rgb(91, 30, 148);
  position: relative;
  z-index: 3;
}

.kutu1 span {
  display: inline-block;
  width: 80px;
  height: 80px;
  background-color: rgb(214, 195, 19);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

.kutu2 {
  width: 200px;
  height: 200px;
  background-color: rgb(44, 216, 73);
  transform: rotate(45deg) scale(2);
  position: relative;
  z-index: 4;
}
